

body{

    background-color: #F4D04E;

        }

        .box1 {
            position:absolute;
            background-color: white;
            width: 265px;
            height: 350px;
            margin-right: auto;
            margin-left: auto;
            margin-top: auto;
            margin-bottom: auto;
            padding-top: 15px ;
            padding-bottom: 15px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            border-radius: 12px;
            border: 1px solid black;
            box-shadow: 8px 8px;
            
            

        }
        .box2 {


            width: 235px; 
            height: 360px;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color:none;


            
            

        }

        .img1 {

            width: 235px;
            border-radius: 10px;

        }

        .box3 {
            width: 60px;
            height: 20px;
            background-color: #F4D04E;
            margin-top: 15px;
            border-radius: 3px;


        }

        @font-face {
            font-family: "MyCustomFont";
            src: url("./fonts/Figtree-VariableFont_wght.ttf");
        }

        .fontFig {

            font-family: "MyCustomFont";


        }

        .learning {


           font-size: 10px; 
            line-height: 20px;
            
            text-align: center;


        }

        .textPublish{
            padding-top: 0px;
            font-family: "MyCustomFont";
            font-size: 10px;

        }

        .textDescription{
            padding: 0px;
            font-size: 11px;
            line-height: 18px;
            color: #6B6B6B;
            background-color: none;
            

        }

        .teacherImg {
            position: relative;
            border-radius: 100px;
            height: 25px;
            width: 25px;
            
            background-color: gray;
            float: left;
            margin-right: 10px;

        }

        .teacherName {

            font-size: 10px;
            line-height: 25px

        }
